/* mm2 */
@import url("https://fonts.googleapis.com/css2?family=Pppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* .container {
    flex-direction: row-reverse;
    flex-wrap: wrap;
} */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: url("64994452421978.jpg") no-repeat; */
    background: sienna;
    background-size: cover;
    background-position: center;
}


.wrapper {
    width: 70%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;

}


/* .input-box input {
    width: 50%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
} */

.wrapper .btn {
    /* display: flex; */
    width: 130px;
    height: 110px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(255, 255, 255, .2);
    cursor: pointer;
    /* font-size: 180%; */
    font-size: revert-layer;
    color: #333;
    font-weight: 600;
    margin: right;
    /* text-align: center; */
}

.wrapper .btn:hover {
    /* display: flex; */
    width: 130px;
    height: 110px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(255, 255, 255, .2);
    cursor: pointer;
    /* font-size: 180%; */
    font-size: revert-layer;
    color: #333;
    font-weight: 600;
    margin: right;
    /* text-align: center; */
}