<!DOCTYPE html>
<html lang="he">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>פתיחת פנייה</title>
    <!-- CSS -->
<link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.5.3/css/bootstrap.min.css" integrity="sha384-JvExCACAZcHNJEc7156QaHXTnQL3hQBixvj5RV5buE7vgnNEzzskDtx9NQ4p6BJe" crossorigin="anonymous">

<!-- jQuery and JS bundle w/ Popper.js -->

    <style>
        body {
            background-image: url('/static/splash.jpg');
            background-size: cover;
        }

        .page-content {
            background-color: white;
            border-radius: 10px;
            padding-top: 10px;
            padding-bottom: 30px;
            border: 3px solid #84bc26;
        }
        .navbar-center {
        margin-left: auto;
        margin-right: auto;

        }

    </style>
</head>

<body dir="rtl">
    <nav class="navbar navbar-expand-lg navbar-light bg-light bg-dark">

        <a class="navbar-brand text-light" href="#">פתיחת פנייה</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">

                <li class="nav-item active" id="first">
                    <a class="nav-link text-light" href="#">מסך הבית <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-toggle="dropdown"
                        aria-expanded="false">
                        פעולות
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/customer-search">פתיחת פנייה</a>
                        <a class="dropdown-item" href="/customer-service">עדכון פנייה</a>
                    </div>
                    </li> 
            </ul>
        </div>
    </nav>
    <div class="container mt-5 page-content" >    
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="input-group mb-3">

                    <input type="text" class="form-control" placeholder="פרטי לקוח" aria-label="" id="search-bar"
                        aria-describedby="basic-addon1">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" type="button" id='search-button'>חיפוש</button>
                        </div>
                </div>
            </div>
        </div>

        <div id="wrapper">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">שם לקוח</th>
                        <th scope="col"> כתובת </th>
                        <th scope="col"> מספר טלפון</th>
                    </tr>
                </thead>
                <tbody id="customer-list">
                </tbody>
            </table>
        </div>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel"></h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>

                    </div>
                    <div class="modal-body">
                        <ul class="list-group" id="order-list">

                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="complaintModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel" dir="rtl" style="float: right;"> פנייה חדשה</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>


                    </div>
                    <div class="modal-body">
                        <form id="complaintForm">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="customer_name">שם לקוח</label>
                                        <input type="string" class="form-control" id="customer-name" disabled>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="customer_address">כתובת</label>
                                    <input type="string" class="form-control" id="customer-address" disabled>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="sale_id">מספר הזמנה</label>
                                    <input type="string" class="form-control" id="customer-order-number" name="sale_id"
                                        readonly="readonly">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4 offset-md-4">
                                    <select class="form-select form-control-lg" aria-label="Default select example"
                                        name="complaint_type" id="complaint_type">
                                        <option select value="not-selected">בחר סוג פנייה</option>
                                        <option value="not_arrived">לא הגיע</option>
                                        <option value="faulty">תקול</option>
                                        <option value="other">אחר</option>
                                    </select>
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12 ">
                                    <label for="customer_text" class="col-form-label"> תוכן פנייה:</label>
                                    <textarea dir="rtl" class="form-control" id="exampleFormControlTextarea1"
                                        name="customer_text" rows="10"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 md-offset-4">
                                    <button type="submit" id="submit-complaint" class="btn btn-primary">שלח
                                        פנייה</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    </div>
    <style>
        td {
            text-align: center;
            vertical-align: middle;
        }

        th {
            text-align: center;
            vertical-align: middle;
        }

        label {
            text-align: right;
            vertical-align: middle;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.rtlcss.com/bootstrap/v4.5.3/js/bootstrap.bundle.min.js" integrity="sha384-40ix5a3dj6/qaC7tfz0Yr+p9fqWLzzAXiwxVLt9dw7UjQzGYw6rWRhFAnRapuQyK" crossorigin="anonymous"></script>
    <script>
        var customers_data;
        $(document).ready(function () {
            $("#search-button").click(function () {
                // Define the parameters
                var params = {
                    search: $("#search-bar").val(),
                };

                // Send the GET request
                $.get("/customers", params, function (data, status) {
                    // Handle the response here
                    if (status === 'success') {
                        $('#customer-list').children().remove(); // removing old customers
                        customers_data = data;
                        let customer_list_items = [];
                        for (i = 0; i < customers_data.length; i++) {
                            let customer = customers_data[i];
                            let customer_list_item = $(`<tr customer_id=${customer.id} class="ticket">
                                                    <td > ${customer.name}</th>
                                                    <td > ${customer.address} </td>
                                                    <td> ${customer.phone_number} </td>
                                                    
                                                </tr`);
                            customer_list_item.click(function (event) {
                                $('#order-list').empty();
                                var chosen_customer_id;
                                for (i = 0; i < customers_data.length; i++) {
                                    if (customers_data[i].id === chosen_customer_id) {
                                        let customer = customers_data[i]
                                    }
                                }
                                $('#myModal').modal('toggle');
                                $('#myModalLabel').text(customer.name);

                                let sales = customer.sales;
                                for (i = 0; i < sales.length; i++) {
                                    let sale = sales[i];
                                    let sale_description = ` `
                                    let sale_list_item = $(`<li class="list-group-item list-group-item-action flex-column align-items-start" sale_id=${sale.id} customer_id=${customer.id}>
                                                                <div class="container">
                                                                    <div class="row">
                                                                        <div class="col-md-4">
                                                                            <p style="float: right; align: right">תאריך הזמנה: ${new Date(sale.timestamp).toLocaleDateString('en-UK')}
                                                                                
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <p style="float: right; align: right">
                                                                                מספר פריטים בהזמנה: ${sale.items_sold.length}
                                                                                </p>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <div class="row"> 
                                                                                <div class="col-md-2 offset-md-4">
                                                                                    <span class="badge ${sale.status == 'sent' ? 'badge-success' : 'badge-warning'}">${sale.status == 'sent' ? 'נשלח' : 'בדרך'}</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>`);
                                    sale_list_item.click(function (event) {
                                        $('#myModal').modal('hide');
                                        $('#complaintModal').modal('show');
                                        let customer_id = this.attributes.customer_id.value;
                                        let sale_id = this.attributes.sale_id.value;

                                        for (i = 0; i < customers_data.length; i++) {
                                            if (customers_data[i].id === chosen_customer_id) {
                                                let customer = customers_data[i]
                                            }
                                        }

                                        let customer_name = customer.name;
                                        let customer_address = customer.address;

                                        $('#customer-name').val(customer_name);
                                        $('#customer-address').val(customer_address);
                                        $('#customer-order-number').val(sale_id);

                                        $('#complaintForm').submit(function (event) {
                                            
                                            console.log($('#complaint_type').val())
                                            if ($('#complaint_type').val() == 'not-selected') {
                                                alert("אנא בחר סוג פנייה");
                                                event.preventDefault();
                                                event.stopPropagation();
                                                return;
                                            }

                                            let customer_id_input = $("<input>")
                                                .attr("type", "hidden")
                                                .attr("name", "customer_id").val(customer_id);
                                            $(this).append(customer_id_input);
                                            $.ajax({
                                                url: "/customerService",
                                                method: "POST",
                                                data: $('form#complaintForm').serialize(),
                                                success: function (data) {
                                                    $('#myModal').modal('hide');
                                                }
                                            });
                                            event.stopPropagation();
                                        })
                                    })
                                    $('#order-list').append(sale_list_item);

                                }
                            })
                            customer_list_items.push(customer_list_item);
                        }
                        for (i = 0; i < customer_list_items.length; i++) {
                            $('#customer-list').append(customer_list_items[i]);
                        }
                    }
                });
            });
        });
    </script>
</body>

</html>