<!DOCTYPE html>
<html lang="he">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customers</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <h2 dir=rtl>פניות פתוחות</h2>
            </div>
        </div>

        <div id="wrapper">
            <table class="table" dir="rtl">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">שם לקוח</th>
                        <th scope="col">תאריך פתחיחת פנייה </th>
                        <th scope="col"> פרטים</th>
                        <th scope="col">סטטוס </th>
                        <th scope="col">סוג פנייה</th>
                        <th scope="col">סגור פנייה</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>


        <div class="modal fade" id="complaintModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel" dir="rtl" style="float: right;">פתח פנייה חדשה</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>


                    </div>
                    <div class="modal-body">
                        <form id="complaintForm">
                            <input name="customer_id" type="hidden">
                            <input id='status' name="status" type="hidden">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="customer_name">שם לקוח</label>
                                        <input type="string" class="form-control" id="customer-name" disabled>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="customer_address">כתובת</label>
                                    <input type="string" class="form-control" id="customer-address" disabled>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="sale_id">מספר הזמנה</label>
                                    <input type="string" class="form-control" id="customer-order-number" name="sale_id"
                                        readonly="readonly">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label for="phone_number">מספר טלפון </label>
                                    <input type="string" class="form-control" id="customer-phone-number"
                                        name="phone-number" readonly="readonly">
                                </div>
                                <div class="form-group col-md-4 offset-4">
                                    <select class="form-select form-control-lg" aria-label="Default select example"
                                        name="complaint_type" id="complaint-type">
                                        <option value="not_arrived">לא הגיע</option>
                                        <option value="faulty">תקול</option>
                                        <option value="other">אחר</option>
                                    </select>
                                    <label for="complaint_type">סיבת פנייה</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12 ">
                                    <label for="customer_text" class="col-form-label"> תוכן פנייה:</label>
                                    <textarea dir="rtl" class="form-control" id="customer-text" name="customer_text"
                                        rows="10"></textarea>
                                </div>
                            </div>
                            <div class="row" dir="rtl">
                                <div class="col-md-4 md-offset-4">
                                    <button type="submit" id="submit-complaint" class="btn btn-success float-right">
                                        עדכן פנייה</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
<script src="https://unpkg.com/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" />
<style>
    td {
        text-align: center;
        vertical-align: middle;
    }

    th {
        text-align: center;
        vertical-align: middle;
    }

    label {
        text-align: right;
        vertical-align: middle;
    }

    p.customer-details {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 300px;
    }
</style>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>

    var all_complaints;

    function close_complaint(event) {
        event.stopPropagation();
        $.ajax({
            url: `/customerService/${event.target.attributes.complaint_id.value}`, method: 'DELETE', success: function (data) {
                fill_table();
            }
        });

    }

    function fill_table() {
        $.ajax({
            url: '/customerService', method: 'GET', success: function (data) {
                $('tbody').empty();
                all_complaints = data;
                generate_complaint_list(data);
            }
        })
    }

    function find_complaint(by_id) {
        for (i = 0; i < all_complaints.length; i++) {
            if (all_complaints[i].ticket_id == by_id) {
                return all_complaints[i];
            }
        }
    }

    function fill_form_with_complaint_details(complaint, show_modal) {
        $('#customer-name').val(complaint.customer_name);
        $('#customer-address').val(complaint.customer_address);
        $('#customer-order-number').val(complaint.sale_id);
        $('#complaint-type').val(complaint.complaint_type);
        $('#customer-text').val(complaint.details);
        $('#customer-phone-number').val(complaint.phone_number);
        if (show_modal) {
            $('#complaintModal').modal('show');
        }
        $('#submit-complaint').attr('complaint_id', complaint.ticket_id);
        $('form.hidden').val(complaint.customer_id);
        $('#submit-complaint').attr('status', complaint.status);
        $('form.hidden').val(complaint.status);
        $('#status').val(complaint.status);
        $('#complaintForm').attr('complaint_id', complaint.ticket_id);
        $('#complaintForm').attr('status', complaint.status);
    }

    function open_modal(event) {
        if (event.target.id == 'dropdownMenuButton' || event.target.id == 'choice') {
            return;
        }
        event.preventDefault();
        let ticket_id = this.attributes.complaint_id.value;
        let complaint = find_complaint(ticket_id);
        fill_form_with_complaint_details(complaint, true);
        $('#complaintForm').submit(update_complaint, null);
    }

    function update_complaint(event, complaint) {
        let complaint_id = null;
        if (complaint != null) {
            complaint_id = complaint.ticket_id;
        }
        else {
            complaint_id = event.target.attributes.complaint_id.value;
        }
        $.ajax({
            url: `/customerService/${complaint_id}`,
            method: 'POST',
            data: $('form#complaintForm').serialize(),
            success: function (data) {
                fill_table();
            }
        });
        if ($('#complaintModal').is(':visible')) {
            $('#complaintModal').modal('hide');
        }
        event.preventDefault();
    }

    function update_status(event) {
        event.stopPropagation();
        let ticket_id = this.attributes.complaint_id.value;
        let complaint = find_complaint(ticket_id);
        fill_form_with_complaint_details(complaint, false);
        $('#status').val(this.innerText);
        update_complaint(event, complaint);
        fill_table();

    }

    function generate_complaint_list(data) {
        var tickets = [];
        for (i = 0; i < data.length; i++) {
            let complaint = data[i];
            let complaint_type_text = null;
            if (complaint.complaint_type == 'other') {
                complaint_type_text = 'אחר'
            }
            if (complaint.complaint_type == 'faulty') {
                complaint_type_text = 'תקול'
            }
            if (complaint.complaint_type == 'not_arrived') {
                complaint_type_text = 'לא הגיע'
            }
            if (complaint_type_text == null) {
                complaint_type_text = 'לא ידוע'
            }

            let dropdown_class = 'success';
            if (complaint.status == 'בטיפול') {
                dropdown_class = 'warning';
            }
            if (complaint.status == 'תקוע') {
                dropdown_class = 'danger';
            }
            let complaint_row = $(`<tr complaint_id=${complaint.ticket_id} class="ticket">
                    <th scope="row"> ${complaint.customer_name}</th>
                    <td> ${new Date(complaint.created_date).toLocaleDateString('en-UK')} </td>
                    <td> <p class="customer-details" >${complaint.details} </p> </td>
                    <td> 
                        <div class="dropdown">
                        <button id="dropdownMenuButton" complaint-id=${complaint.ticket_id} type="button" class="btn btn-${dropdown_class} dropdown-toggle"
                         data-toggle="dropdown" aria-haspopup="true" aria-haspopup="true" aria-expanded="false">
                            ${complaint.status}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a id='choice' class="dropdown-item" complaint_id=${complaint.ticket_id}>חדש</a>
                            <a id='choice' class="dropdown-item" complaint_id=${complaint.ticket_id}>בטיפול</a>
                            <a id='choice' class="dropdown-item" complaint_id=${complaint.ticket_id}>תקוע</a>
                        </div>
                        </div>
                    </td>
                    <td> ${complaint_type_text} </td >
            <td> <button type="button" complaint_id=${complaint.ticket_id} class="btn btn-danger delete-complaint">סגור פנייה </button> </td>
                    
                </tr`);
            tickets.push(complaint_row);
        }

        for (i = 0; i < tickets.length; i++) {
            $('tbody').append(tickets[i]);
        }

        $('tr.ticket').click(open_modal);
        $('button.delete-complaint').click(close_complaint);
        $('a.dropdown-item').click(update_status);

    } $(document).ready(function () {
        fill_table();
    });
</script>