<!DOCTYPE html>
<html lang="he">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form in HTML and CSS | Codehal </title>
    <link rel="stylesheet" type="text/css" href="mm2.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<style>
    table,
    th,
    td {
        border: 1px solid black;
    }
</style>

<h1>מחלקת שירות לקוחות</h1>

<body>



    <table style="width:70%">
        <tr>
            <td><button type="" class="btn">פניות חדשות</button></td>
            <td><button type="" class="btn">פניות בטיפולי</button></td>
            <td><button type="" class="btn">:מספר פניות בטיפול</button></td>
        </tr>
        <tr>
            <td><button type="" class="btn">צור לקוח חדש</button></td>
            <td><button type="" class="btn">פתח פניה חדשה</button></td>
            <td><button type="" class="btn">התחברות</button></td>
        </tr>
    </table>

    <!-- <div class="wrapper">
        <form action="">
            <i class='bx bx-log-out'></i>
            <i class='bx bx-right-arrow-circle' undefined></i>
        </form>
    </div> -->
</body>

</htmml>