<!-- index.html -->
<!DOCTYPE html>
<html lang="he">

<head>
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.5.3/css/bootstrap.min.css"
        integrity="sha384-JvExCACAZcHNJEc7156QaHXTnQL3hQBixvj5RV5buE7vgnNEzzskDtx9NQ4p6BJe" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.rtlcss.com/bootstrap/v4.5.3/js/bootstrap.bundle.min.js"
        integrity="sha384-40ix5a3dj6/qaC7tfz0Yr+p9fqWLzzAXiwxVLt9dw7UjQzGYw6rWRhFAnRapuQyK"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <meta charset="UTF-8">
    <!-- הפקודה בשורה 4 ממדת את המסמך שלי לקרוא כמעט את כל התווים בעולם, זה שם של תקן  -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- הפקודה בשורה 8 מקשרת את ההטמל לסיסס -->
    <title> מסך הבית </title>
    <style>
        body {
            background-image: url('/static/splash.jpg');
            background-size: cover;
        }
    </style>

    <script>
        $('document').ready(function () {


            function log_out() {
                $.removeCookie("user", { path: '/' });
                window.location = "/login.html";
            }



            function check_login() {
                if (typeof $.cookie('user') === 'undefined') {
                    let login_button = $(`<li class="nav-item">
                         <a class="nav-link text-light" href="/login.html">התחבר</a>
                    </li>`)
                    login_button.insertAfter("#first");
                    $("#logout").click(log_out);
                } else if ($.cookie('user') == 'OK') {
                    let logout_button = $(`<li class="nav-item" id="logout">
                         <a class="nav-link text-light" href="#">התנתק</a>
                    </li>`)
                    logout_button.click(log_out);
                    logout_button.insertAfter("#first");
                }
            }

            check_login();
        })
    </script>
</head>

<body dir="rtl">

    <nav class="navbar navbar-expand-lg navbar-light bg-light bg-dark">
        <a class="navbar-brand text-light" href="#">Ecommunity CRM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" id="first">
                    <a class="nav-link text-light" href="#">מסך הבית <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-toggle="dropdown"
                        aria-expanded="false">
                        פעולות
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/customer-search">פתיחת פנייה</a>
                        <a class="dropdown-item" href="/customer-service">עדכון פנייה</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>


</body>

</html>